.services {
    // display: flex;
    // align-items: flex-end;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    box-sizing: border-box;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    h2 {
        line-height: 5rem;
        font-style: italic;
    }
}
