@import "./variables.scss";

.main-section {
    display: flex;
    justify-content: center;
    padding: 100px;
    width: 100%;
    height: 100vh;

    // background-color: $sec-color;
    box-sizing: border-box;
}

.title-container {
    text-align: center;
}
