@import "./variables.scss";

.main-section {
    padding: 5rem 10rem;
    width: 100%;
    height: 100vh;

    background-color: $sec-color;
    box-sizing: border-box;
}

.title-container {
    text-align: center;
}
