// Colors
$prim-color: rgb(0, 0, 0);
$sec-color: rgb(255, 213, 213);
$tert-color: rgba(107, 107, 107, 0.801);

// Fonts
$main-font: "Montserrat", sans-serif;
$sec-font: "Open Sans", sans-serif;
$logo-font: "Berkshire Swash", cursive;

// Sizes
$side-pad: 10rem;
$menu-width: 45rem;
$menu-height: 85vh;
