.section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(250, 149, 149, 0.753), rgba(63, 63, 163, 0.623)),
    url("../../resources/alan-caishan-cU53ZFBr3lk-unsplash.jpg");
    background-size: cover;

    padding: 30px 100px;
    box-sizing: border-box;

    position: relative;
}

.title {
    text-align: center;
    padding-top: 100px;

}


.text {
    position: absolute;
    bottom: 100px;

    width: 600px;
}
