@import "./variables.scss";

.content-container {
    width: 50%;
    padding: 100px 50px;
}

.menu-card {
    width: 500px;
    border-top-right-radius: 70px;
    background-color: $primary-color;
    text-align: center;
    height: 90vh;
    position: absolute;
    bottom: 0;
}
